.tv-home-menu {
  .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    position: relative;
  }

  .logback-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    bottom: 20px;
    left: 50px;
    position: absolute;

    .back-to-homee {
      color: #fff;
    }

    .tv-logout {
      cursor: pointer;

      .btn-logout-tv {
        color: #fff;
      }
    }
  }
}
