.send-evaluasi {
    .container {
      .content {
        padding: 20px;
        border-radius: 10px;
        background-color: var(--secondary-color);
  
        .title {
          font-size: 18px;
          font-weight: 600;
          color: var(--text-color-inverted);
        }
  
        .form-send-evaluasi {
          margin-top: 20px;
  
          .form-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 16px;
  
            @media (max-width: 768px) {
              grid-template-columns: 1fr;
            }
          }
  
          .form-group {
            margin-bottom: 20px;
  
            .important {
              color: var(--red-color);
            }
  
            .error-form {
              margin-top: 5px;
              font-size: 12px;
              color: var(--red-color);
              font-style: italic;
            }
  
            label {
              font-size: 14px;
              color: var(--text-color-inverted);
              margin-bottom: 5px;
              display: block;
            }
  
            input[type="text"],
            input[type="email"],
            input[type="date"],
            input[type="file"],
            select {
              width: 100%;
              padding: 8px;
              border: 2px solid var(--input-form-color);
              border-radius: 4px;
              background-color: var(--input-form-color);
              color: var(--text-color-inverted);
  
              &:focus {
                border: 2px solid var(--blue-color);
                outline: none;
              }
  
              @media (max-width: 768px) {
                width: calc(100%);
              }
            }
  
            input[type="file"] {
              cursor: pointer;
            }
          }
  
          .button-dua {
            display: flex;
            column-gap: 10px;
  
            .button-simpan-rps {
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              gap: 5px;
              margin-top: 10px;
              padding: 8px 30px;
              background-color: var(--blue-color);
              border-radius: 12px;
              transition: var(--default-transition);
              color: #fff;
              border: none;
              cursor: pointer;
  
              &:hover {
                background-color: #458bf5;
              }
            }
  
            .button-batal-rps {
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              gap: 5px;
              margin-top: 10px;
              padding: 8px 30px;
              background-color: var(--red-color);
              border-radius: 12px;
              transition: var(--default-transition);
              color: #fff;
              border: none;
              cursor: pointer;
              font-size: 14px;
  
              &:hover {
                background-color: #f56363;
              }
            }
          }
        }
      }
    }
  }
  