.tentang-hme {
    .container {
      .editor {
        display: flex;
        column-gap: 20px;
  
        .text-editor {
          background-color: var(--secondary-color);
          padding: 20px;
          border-radius: 10px;
          width: 50%;
          
          .title-desc {
              margin-bottom: 20px;
              font-size: 18px;
              font-weight: 600;
              color: var(--text-color-inverted);
            }
  
          .text {
              color: var(--text-color-inverted);
          }
  
          .btn-buat {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px 30px;
            border-radius: 12px;
            color: #fff;
            border: none;
            cursor: pointer;
            background-color: var(--blue-color);
            transition: all 0.3s ease;
  
            &:hover {
              background-color: #4c7cff;
            }
          }
  
          @media (max-width: 768px) {
            width: 100%;
          }
  
          .ql-font-normal {
            font-weight: 400; // Normal weight
          }
          
          .ql-font-medium {
            font-weight: 600; // Medium weight
          }
          
          .ql-font-bold {
            font-weight: 700; // Bold weight
          }
        }
  
        .hasil {
          background-color: var(--secondary-color);
          padding: 20px;
          border-radius: 10px;
          width: 50%;
  
          .title-prev {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color-inverted);
          }
          .preview {
            color: var(--text-color-inverted);
            font-size: 14px;
          }
  
          @media (max-width: 768px) {
            width: 100%;
            margin-top: 20px;
          }
        }
  
        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
      .visi-misi-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        background-color: var(--secondary-color);
          border-radius: 10px;
  
        .form-buat-visi {
          align-self: flex-start;
          width: 100%;
  
          .title-visi {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color-inverted);
          }

          .title-misi {
            // margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color-inverted);
          }
  
          .form-content {
            .form-group {
              display: flex;
              margin-bottom: 20px;
  
              .important {
                color: var(--red-color);
              }
  
              .error-form {
                margin-top: 5px;
                font-size: 12px;
                color: var(--red-color);
                font-style: italic;
              }
  
              input[type="text"],
              select {
                width: 100%;
                padding: 8px;
                border: 2px solid var(--input-form-color);
                border-radius: 4px;
                background-color: var(--input-form-color);
                color: var(--text-color-inverted);
                margin-right: 10px;
  
                &:focus {
                  border: 2px solid var(--blue-color);
                  outline: none;
                }
  
                @media (max-width: 768px) {
                  width: calc(100%);
                }
              }
  
              .btn-hapus {
                padding: 4px 10px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: #ff0000;
                transition: all 0.3s ease;
  
                &:hover {
                  background-color: #ff3d3d;
                }
              }
            }
          }
  
          .btn-section {
            display: flex;
            column-gap: 5px;
  
            .btn {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 8px 30px;
              border-radius: 12px;
              color: #fff;
              border: none;
              cursor: pointer;
  
              &.blue {
                background-color: var(--blue-color);
                transition: all 0.3s ease;
  
                &:hover {
                  background-color: #4c7cff;
                }
              }
  
              &.orange {
                background-color: #ffa500;
                transition: all 0.3s ease;
  
                &:hover {
                  background-color: #ffc71f;
                }
              }
            }
          }
  
          @media (max-width: 768px) {
            width: 100%;
          }
        }
  
        @media (max-width: 768px) {
          flex-direction: column;
        }

        .btn {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px 30px;
            border-radius: 12px;
            color: #fff;
            border: none;
            cursor: pointer;

            &.blue {
                margin-top: 40px;
              background-color: var(--blue-color);
              transition: all 0.3s ease;

              &:hover {
                background-color: #4c7cff;
              }
            }

            &.orange {
              background-color: #ffa500;
              transition: all 0.3s ease;

              &:hover {
                background-color: #ffc71f;
              }
            }
          }
      }
    }
  }
  