.form-input-task {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 500px;

  .input-task {
    width: 100%;
    padding: 8px;
    border: 2px solid #eef0f4;
    border-radius: 5px;
    background-color: #eef0f4;
    color: #292929;

    &:focus {
      border: 2px solid var(--blue-color);
      outline: none;
    }

    @media (max-width: 768px) {
      width: calc(100%);
    }
  }

  .btn-create-task {
    display: flex;
    gap: 5px;
    padding: 8px 20px;
    background-color: var(--blue-color);
    border-radius: 5px;
    transition: var(--default-transition);
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #458bf5;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
