.card-menu {
  position: relative;
  width: 320px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 16px;
  background: none; /* Pastikan tidak ada background default */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.05);
  }

  .icon {
    position: relative;
    z-index: 2;
    font-size: 30px;
    color: #fff;
  }

  .title-card-menu {
    position: relative;
    z-index: 2;
    color: #fff;
  }
}
