.reset-password {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #eef0f4;

  display: flex;
  align-items: center;
  justify-content: center;

  .reset-password-container {
    width: 380px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 35px;

    @media (max-width: 768px) {
      width: 100%;
    }

    .icon-section {
      display: flex;
      justify-content: center;

      .bg-satu-reset-password {
        width: 80px;
        height: 80px;
        background-color: #eef0f4;
        padding: 5px;
        border-radius: 50%;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        .bg-dua-reset-password {
          width: 50px;
          height: 50px;
          background-color: rgba(71, 91, 232, 0.3);
          padding: 5px;
          border-radius: 50%;
  
          display: flex;
          align-items: center;
          justify-content: center;
  
          .icon-reset-password {
            opacity: 1;
            color: #475be8;
          }
        }
      }
    }

    .title-reset-password {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .desc-reset-password {
      font-size: 13px;
      text-align: center;
      color: #909090;
    }

    .reset-password-desc {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 20px;
      color: #909090;
    }

    .form-reset-password {
      width: 100%;

      .form-content {
        margin-top: 30px;
        margin-bottom: 10px;

        .form-group {
          .input-reset-password {
            margin-top: 10px;
            border: none;
            width: 100%;
            height: 45px;
            padding: 20px;
            border-radius: 10px;
            outline: none;
            background-color: #eef0f4;
          }

          .error-form {
            margin-top: 5px;
            font-size: 12px;
            color: var(--red-color);
            font-style: italic;
          }
        }
      }

      .btn-reset-password {
        margin-top: 10px;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        background: rgb(71, 91, 232);
        background: linear-gradient(
          121deg,
          rgba(71, 91, 232, 1) 0%,
          rgba(71, 160, 232, 1) 50%,
          rgba(0, 255, 244, 1) 100%
        );
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .login-link {
      display: flex;
      justify-content: center;
      color: #909090;
      text-decoration: underline;
      margin-top: 20px;
      font-size: 14px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #475be8;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}
