.card-achiev {
  position: relative;
  margin-top: 20px;
  width: 430px;
  background-color: #47a0e8;
  padding: 20px;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .bg-achiev {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .title-persentase {
    display: flex;
    align-items: center;
    gap: 13px;
    .title-achiev-persentase {
      color: #fff;
      font-size: 30px;
    }
    .badge-achiev-kehadiran {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 20px;
      height: 22px;
      padding: 10px;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .achiev-details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 47px;
    justify-content: space-between;

    .achiev-text {
      .achiev-title {
        font-weight: 600;
        color: #fff;
      }

      .achiev-desc {
        margin-top: 5px;
        color: #fff;
        font-size: 12px;
      }
    }

    .achiev-img {
      width: 55px;
      height: 55px;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
    }
  }
}
