.rps-tiga {
  margin-top: 20px;

  .table-flex {
    display: flex;

    .table-rps {
      width: 100%;
      border-collapse: collapse;
      font-family: var(--font-family-poppins);

      .t-head-rps-tiga,
      .t-body-rps-tiga {
        border: 1px solid black;
        text-align: left;
      }

      .t-head-rps-tiga {
        background-color: #d5d5d5;
        font-weight: 600;
        height: 150px;
        font-size: 14px;
        text-align: center;
        position: relative;

        .bentuk {
          color: #0b16b5;
        }

        .no {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .kriteria {
        border-left: none;
        border-bottom: none;
        border-bottom: 1px solid black;
        width: 60px;
        height: 150px;
      }
      .indikator {
        border-left: none;
        border-bottom: none;
        border-bottom: 1px solid black;
        width: 50px;
      }
      .bobot {
        border-left: none;
        border-bottom: none;
        border-bottom: 1px solid black;
        width: 40px;
      }

      .t-body-rps-tiga {
        font-size: 14px;
        border-top: none;

        &.width-minggu {
          width: 80px;
          height: 40px;
          text-align: center;
        }

        &.width-sub {
          width: 150px;
        }

        &.width-bahan {
          width: 150px;
        }

        &.width-bentuk {
          width: 150px;
        }

        &.width-estimasi {
          width: 90px;
        }

        &.width-pengalaman {
          width: 150px;
        }

        &.width-penilaian {
          width: 200px;
        }

        &.width-kriteria {
          height: 40px;
          width: 111px;
          border-left: none;
        }

        &.width-indikator {
          width: 120px;
        }

        &.width-bobot {
          width: 79px;
        }

        &.ujian {
          font-weight: 600;
          text-align: center;
          height: 40px;
          background-color: #d5d5d5;
        }
      }

      .t-head-rps-tiga-penilaian {
        border: 1px solid black;
        border-left: none;
        text-align: left;
        width: 310px;
        background-color: #d5d5d5;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
