.tv-home {

  .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 40px;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .text {
      font-size: 20;
      font-weight: 600;
      color: var(--blue-color);
    }
  }
}
