.about {
  width: 100%;

  .container {
    .quick-link {
      display: flex;
      align-items: center;
      column-gap: 5px;

      .text-home-portal {
        font-size: 14px;
        color: #808191;

        display: flex;
        align-items: center;
        column-gap: 5px;
      }

      .garing {
        font-size: 13px;
        color: #808191;
      }

      .text-profile-himaju {
        font-size: 14px;
        font-weight: 600;
        color: #292929;
      }
    }
    .content {
      .logo {
        display: flex;
        justify-content: center;

        margin-top: 60px;
        margin-bottom: 60px;

        .logo-img {
          width: 350px;
        }
      }

      

      .body {
        margin-top: 150px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .text-profile {
          .title-about {
            font-size: 13px;
            color: #808191;
          }
          .title {
            margin-top: 10px;
            font-size: 40px;
            font-weight: 600;
            color: #292929;
            max-width: 460px;
            line-height: 50px;
          }
  
          .desc {
            margin-top: 10px;
            font-size: 14px;
            max-width: 590px;
          }
        }

        

        .foto_himaju {
          width: 450px;
          border-radius: 20px;

          @media (max-width: 768px) {
            margin-top: 20px;
            width: 100%;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
    }
  }
}
