.visi-misi {
    margin-top: 20px;
    .container {
        .content {
            .title {
                font-size: 20px;
                font-weight: 600;
                color: #292929;
            }
        }
    }
}