.app-bar {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  box-shadow: var(--light-shadow1);
  margin-bottom: 20px;
  border-radius: 10px;

  .area-top-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;

    .area-top-f {
      display: flex;
      align-items: center;
      gap: 8px;

      .area-top-title {
        font-weight: 600;
        color: var(--text-color-inverted);
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .theme-toggle-btn {
        background-color: var(--bg-color-inverted);
        width: 35px;
        height: 35px;
        border-radius: 10px;
        border: none;
        outline: 0;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
      
        .theme-icon {
          width: 20px;
        }
      }  
  }

  .sidebar-open-btn {
    display: inline-flex;
    align-items: center;
    display: none;
    margin-bottom: -1px;
    color: var(--text-color-inverted);

    @media (max-width: 1200px) {
      display: inline-flex;
    }
  }
}

.appbar-profile {
  .drop-info {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @media (max-width: 992px) {
      column-gap: 10px;
    }
  }

  .drop-info-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;

    @media (max-width: 992px) {
      width: 32px;
      height: 32px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-text-group {
    display: flex;
    flex-direction: column;
    // min-width: 80px;
    line-height: 1.4;
    // width: 80px;

    @media (max-width: 768px) {
      min-width: auto;
      width: auto;
    }

    span {
      &:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--text-color-inverted);

        @media (max-width: 768px) {
          display: var( --side-text-color);
        }
      }
      &:nth-child(2) {
        font-size: 12px;
        color: gray;

        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  .drop-info-text {
    display: flex;
    align-items: center;

    .drop-icon {
        color: var(--text-color-inverted);
    }
  }
}
